/*------------- GENERAL --------------*/
html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3D3D3D;
  margin: 0;
  padding: 0;
}

.clean-styled-list ul,
ul.clean-styled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.btn-general {
  background-color: #F14848;
  text-decoration: none;
  color: #FFF;
  padding: 18px 40px;
  border-radius: 40px;
  text-transform: uppercase;
  margin: 20px 0px;
  display: inline-block;
  letter-spacing: 2px;
}

.btn-general:focus {
  outline: none;
}

.info-container {
  display: inline-block;
  margin: 0;
  padding: 5px;
}

/*-------- NAVBAR / HEADER SECTION -------*/

.main-header {
  vertical-align: middle;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  z-index: 10;
}

/*Comigo logo*/
.main-header > a {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 20px;
}

/*Navigation Bar*/
.main-header nav {
  display: inline-block;
  margin: auto 0 auto auto;
}

/*All anchors*/
.main-header nav a {
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  line-height: 60px;
  padding: 0 25px;
  color: rgb(61,61,61);
  width:100%;
  height: 100%;
}

.main-header nav > ul > li > a {
  font-size: 1.2rem;
}

.main-header nav ul,
.main-header nav li {
  display: inline-block;
  margin: 0;
  padding: 0;

}

.main-header nav > ul > li > ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(256,256,256,0.99);
}

/*Level 3*/
.main-header nav > ul ul ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(256,256,256,0.99);
}

/*Level Two*/
.main-header nav > ul > li > ul > li {
  width: 33.2%;
}

/*Level Three*/
.main-header nav > ul ul ul > li {
  width: 50%;
}

/*Level Two and Three Anchors*/
.main-header nav > ul ul a,
.main-header nav > ul ul ul a
{
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-header nav > ul > li > a:hover,
.main-header nav > ul > li > a:focus
{
  color: #f14848;
  outline: none;
}

.main-header nav > ul > li > ul a:hover,
.main-header nav > ul > li > ul a:focus
{
  color: #fff;
  background-color: #f14848;
}

.main-header ul ul {
  display: none;
}

.main-header nav ul > li:hover > ul {
  display: block;
  transition: transform 2s;
}

/*--------------- MAIN -------------------*/

/*------------ MAIN STRIP -----------*/

/*noinspection ALL*/
.main-strip {
  color: #fff;
  height: 42.5vw;
  background:
    url("../assets/main-bg/home-brain-image-new-1920x816.png"),
    url("../assets/main-bg/home-featured-shine1.png"),
    url("../assets/main-bg/home-featured-shine2.png"),
    url("../assets/main-bg/home-featured-shine3.png"),
    url("../assets/main-bg/home-featured-shine4.png"),
    url("../assets/main-bg/home-featured-shine5.png"),
    url("../assets/main-bg/home-featured-shine6.png"),
    url("../assets/main-bg/home-featured-shine7.png"),
    url("../assets/main-bg/home-featured-shine8.png"),
    url("../assets/main-bg/home-featured-bg.png") fixed;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10vw;
  margin-top: 30px;
}

.main-strip h1 {
  font-size: 5rem;
  font-weight: 400;
  margin: 0px auto;
  max-width: 900px;
}

/*------------ WHY COMIGO -----------*/

.about-strip {
  padding: 120px 0;
}

.about-strip h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0px auto 10px;
  max-width: 900px;
}

.about-strip p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0px auto;
  color: #3D3D3D;
  max-width: 400px;
  line-height: 2rem;
}

/*------------ SERVICES -------------*/

.services-strip {
  position: relative;
  display: block;
  margin: auto;
  height: 40vw;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  /*display: none;*/
}

.services-strip .services-strip-header {
  display: inline-block;
  height: 100%;
  width: 30%;
  /*background-color: black;*/
  position: relative;
  color: white;
  z-index: 2;
  padding-left: 12%;
  padding-top: 3%;
}

.services-strip .services-strip-header h2 {
  font-weight: 300;
  font-size: 2.8vw;
  text-transform: uppercase;
}

.services-strip .services-strip-header p {
  font-weight: 300;
  font-size: 1.2rem;
  max-width: 70%;
}

.services-strip ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding-left: 10%;
  width: 68%;
  padding-top: 3%;
  /*z-index: 3;*/
  /*display: none;*/
}

.services-strip ul li {
  /*position: absolute;*/

}

.services-strip ul li h3 {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}

.services-strip ul li p {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 10%;
  left: 60%;
  top: 10%;
  bottom: 80%;
  background-color: black;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}

.services-strip ul figure {
  position: absolute;
  right: 10%;
  left: 60%;
  top: 20%;
  bottom: 5%;
  text-align: center;
  /*display: none;*/
}

.services-strip ul figure,
.services-strip ul video,
.services-strip ul li p {
  visibility: hidden;
}

.services-strip ul li:first-of-type figure,
.services-strip ul li:first-of-type video,
.services-strip ul li:first-of-type p {
  visibility: visible;
}


.services-strip ul figure img {
  width: 100%;
  max-height: 100%;
}


.services-strip video {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  /*display: none;*/
}


/*-------------- ENHANCE ------------*/
/*--------------- DEPLOY ------------*/

.service-box {
  display: inline-block;
  margin: 0;
  padding-left: 10%;
  padding-top: 2%;
  border: 0;
  width: 50%;
  height: 40vw;
  vertical-align: bottom;
  position: relative;
}

.service-box .info-container-service {
  display: block;
  max-width: 400px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5%;
}

.service-box h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.service-box p {
  font-weight: 300;
  font-size: 1.2rem;
}

.service-box img {
  height: 40%;
}

.service1-strip {
  background: red url("../assets/other/home-tv-service-bg1.png") no-repeat center;
  background-size: cover;
  color: white;
}

.service1-strip .btn-general {
  color: #E04747;
  background-color: #FAFAFA;
}

.service2-strip {
  background: red url("../assets/other/home-tv-service-bg2.png") no-repeat center;
  color: #3D3D3D;
  background-size: cover;
}

/*-------------- CONTENT ------------*/

.content-strip {
  display: block;
  position: relative;
  padding: 100px 10%;
  overflow: hidden;
}

.content-strip .image-container {
  position: absolute;
  display: inline-block;
  left:50%;
  top: 5%;
  bottom: 5%;
}

.content-strip img {
  height: 100%;
}

.content-strip .info-container {
  max-width: 290px;
}
.content-strip .info-container h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}
.content-strip .info-container p {
  font-size: 1.2rem;
  font-weight: 300;
}



/*--------- LEARN MORE ABOUT --------*/

.learn-strip * {
  /*border: 1px solid red;*/
}

.learn-strip {
  margin: 0;
  padding: 0;
  height: 40vw;
  background-color: red;
}

.learn-strip .learn-strip-left {
  display: inline-block;
  background-color: blue;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 100%;
  vertical-align: top;
}

.learn-strip .learn-strip-left .download-container,
.learn-strip .learn-strip-left .lower-section {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 50%;
}

.learn-strip .download-container {
  background-color: #F9F9F9;
}

.learn-strip .download-container h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 2%;
  padding: 0 3%;
  width: 65%;
  font-size: 4.2vw;
  text-transform: uppercase;
  font-weight: 300;
}

.learn-strip .download-container .download-button {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 65%;
  margin: 0;
  padding: 3% 0 0;
  background-color: #F14848;
}

.learn-strip .download-container .download-button .image-wrapper {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 50%;
  padding: 16%;
  border: 0.3vw solid white;
}


.learn-strip .download-container .download-button img {
  display: inline-block;
  width: 100%;
}

.learn-strip .download-container .download-button p {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 1.5vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1% 10%;
}

.learn-strip .learn-strip-left .social-container {
  display: inline-block;
  height: 100%;
  width: 35%;
  margin: 0;
  background-color: #EFEFEF;
  padding: 2%;
  list-style: none;
}

.learn-strip .learn-strip-left .social-container li {
  display: inline-table;
  width: 45%;
  background: red;
  height: 45%;
  text-align: justify;
  padding: 0;
  margin: 2%;
  border-radius: 50%;
}

.learn-strip .learn-strip-left .social-container a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-size: 4vw;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
}

.learn-strip .learn-strip-left .schedule-meeting {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 35%;
  background-color: pink;
  background: url("../assets/main-bg/home-featured-bg.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.learn-strip .learn-strip-left a.schedule-meeting {
  text-decoration: none;
}

.learn-strip .learn-strip-left .schedule-meeting p:nth-of-type(1) {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2vw;
  color: black;
  margin: 0;
  padding: 0 0 0 5%;
  line-height: 4vw;
  background: linear-gradient(to right, white , transparent);
}

.learn-strip .learn-strip-left .schedule-meeting img {
  display: block;
  margin: 15% auto 10px;
  width: 50%;
}

.learn-strip .learn-strip-left .schedule-meeting p:nth-of-type(2) {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 0;
  padding: 0;
  color: white;
  font-weight: 300;
  font-size: 2vw;
}

.learn-strip .schedule-demo-container {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 100%;
  padding: 1% 0 0;
  margin: 0;
  background-color: #EFEFEF;
  overflow: hidden;
}

.learn-strip .schedule-demo-container p{
  padding: 0 0 0 10%;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 5vw;
  color: #F14848;
}

.learn-strip a.schedule-demo-container {
  text-decoration: none;
}

.learn-strip .schedule-demo-container img {
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 0;
  top: 35%;
}







/*--------------- BLOG --------------*/

.blog-strip {
  display: none;
}

.blog-strip li,
.blog-strip ul
{
  display: inline;
  margin: 0;
  padding: 0;
}

.blog-strip a {
  text-decoration: none;
  color: #fff
}

.blog-strip .blog-container
{
  background-color: #449fdb;
  display: inline-block;
  width: 200px;
  height: 500px;
  background-size: contain;
}

.blog-strip .blog-container.blog1 {
  background: no-repeat url("../assets/blog/ibc_post_EI-750x508.png") center center;
  background-size: cover;
}
.blog-strip .blog-container.blog2 {
  background: no-repeat url("../assets/blog/IMG_9294-750x563.jpeg") center center;
}
.blog-strip .blog-container.blog3 {
  background: no-repeat url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") center center;
}
.blog-strip .blog-container.blog4 {
  background: no-repeat url("../assets/blog/post_tv_connect-750x508.jpeg") center center;
}
.blog-strip .blog-container.blog5 {
  background: no-repeat url("../assets/blog/post_quality-750x508.jpeg") center center;
}

/*---------------- FOOTER -----------------*/

.main-footer {
  color: #7a7a7a;
  display: none;
}

.main-footer a {
  text-decoration: none;
  color: #7a7a7a;
}

.main-footer .footer-nav {
  background-color: #1E2024;
}

.main-footer .footer-nav ul ul a:hover {
  color: #f14848;
}

.main-footer .footer-ref {
  background-color: #151515;
  color: #636363;
}

.main-footer .footer-ref a:hover {
  color: #FFF;
}
